{% extends 'base.html' %}
{% block title %}
  {{ title }}
{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">Редактировать коммент к посту <b>{{ form.instance.post.author.get_full_name }}</b></div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" action="{% url 'posts:edit_comment' form.instance.pk %}">
          {% csrf_token %}
          {% include 'includes/generic_form.html' %}
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}